
*.suo
*.suo
*.dll
*.exe
*.pdb
*.xml
*.suo
Jamii Sport Club/Jamii Sport Club.v11.suo
*.suo
Jamii Sport Club/Jamii Sport Club/ApplicationEvents.vb
Jamii Sport Club/Jamii Sport Club/obj/Debug/Jamii Sport Club.vbproj.GenerateResource.Cache
Jamii Sport Club/Jamii Sport Club/obj/Debug/Jamii Sport Club.vbproj.GenerateResource.Cache
*.Cache
*.suo
*.Cache
*.suo
*.suo
*.suo
Jamii Sport Club/Jamii Sport Club.v11.suo
Jamii Sport Club/Jamii Sport Club.v11.suo
